<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FanciSwarm_urdf_view">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.26693 1.5799E-06 0.019202"
        rpy="0 0 0" />
      <mass
        value="17.989" />
      <inertia
        ixx="0.30349"
        ixy="8.3022E-10"
        ixz="6.1984E-08"
        iyy="0.14061"
        iyz="-1.1199E-08"
        izz="0.28344" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FanciSwarm_urdf_view/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FanciSwarm_urdf_view/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>